<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reparaciones</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <a href="{% url 'dashboard' %}" class="btn btn-info">Volver al Dashboard</a>
        <h1 class="text-center mb-4">Lista de Reparaciones Comunes</h1>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Costo Estimado</th>
                </tr>
            </thead>
            <tbody>
                {% for reparacion in reparaciones %}
                <tr>
                    <td>{{ reparacion.nombre }}</td>
                    <td>{{ reparacion.descripcion }}</td>
                    <td>${{ reparacion.costo_estimado }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No hay reparaciones registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center mt-3">
            <a href="{% url 'factura_create' %}" class="btn btn-primary">Crear Factura</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
