<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/Clientes/cliente_delete.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Eliminar Cliente</h1>
        <div class="alert alert-danger text-center">
            <p>¿Estás seguro de que quieres eliminar a {{ cliente.nombre }} {{ cliente.apellidos }}?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
                <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</body>
</html>
