<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Mecánico</title>
    <!-- Incluye Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Tu archivo CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/Mecanico/Registro.css' %}">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <h1 class="text-center mb-4">Actualizar Mecánico</h1>
        
        <form method="post" class="bg-white p-4 shadow rounded">
            {% csrf_token %}
            <div>
                {{ form.as_p }} <!-- Renderiza todos los campos del formulario -->
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Actualizar Mecánico</button>
            </div>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'mecanico_list' %}" class="btn btn-secondary">Volver a la lista de mecánicos</a>
        </div>
    </div>

    <!-- Incluye Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
