body {  
    margin: 200px;
    font-family: 'Arial', sans-serif;  
    background-image: url('https://s39.aconvert.com/convert/p3r68-cdx67/bvyl2-532gy.jpg');
    height: 30vh;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
}  

.background {  
    position: relative;  
    width: felx;  
    height: felx;  
    background-size: cover;  
    background-position: center; 
    border-radius: 10px; 
}  

.login-container {  
    background-color: rgba(0, 0, 0, 0.555);  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 4px 10px rgba(190, 173, 173, 0.5);  
    width: 300px;  
    text-align: center;  
    color: rgb(255, 255, 255);  

}  

h1 {  
    margin-bottom: 20px;  
}  

.input-group {  
    margin-bottom: 15px;  
}  

label {  
    display: block;  
    margin-bottom: 5px;  
}  

input[type="text"],  
input[type="password"] {  
    width: 70%;  
    padding: 10px;  
    border: none;  
    border-radius: 5px;  
}  

button {  
    width: 50%;  
    padding: 10px;  
    background-color: #4caf50;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
}  

button:hover {  
    background-color: #45a049;  
}  

.forgot-password {  
    display: block;  
    margin-top: 10px;  
    color: #bbb;  
    text-decoration: none;  
}  

.forgot-password:hover {  
    text-decoration: underline;  
}  

.remember-me {  
    display: flex;  
    align-items: center;  
    margin-top: 30px;  
    color: white;  
}