body {  

    background-image: url(imageneslogin/fondo-auto.jpg);
    color: white;  
    font-family: Arial, sans-serif;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
    margin: 0;  
}  

.main-container {  
    display: flex;  
    background-color: #2a2a2a;  
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    width: 600px;  
    overflow: hidden;  
}  

.logo-container {  
    background-color: #1a1a1a;  
    padding: 50px;  
    width: 50%;  
    text-align: center;  
    background-image: url(imageneslogin/fondologin.jpg);
}  

.form-container {  
    background-color: rgba(185, 28, 28, 0.5);
    padding: 50px;  
    width: 50%;  
}  

h1 {  
  
    margin: 0;  
    font-size: 24px;  
    display: flex;
    text-align: center;
    padding: 25px;
    image-orientation:center;
    background-image: url(/AutoMasterPro/imageneslogin/fondologin.jpg);
}  

input {  
   
    width: 100%;  
    padding: 10px;  
    margin: 10px 0;  
    border: none;  
    border-radius: 5px;  
    display: flex;
}  

.btn {  
    background-color: #aa2c1ead;  
    color: white;  
    border: none;  
    padding: 10px;  
    border-radius: 5px;  
    cursor: pointer;  
    width: 100%;  
}  

.btn:hover {  
    background-color: #c0392b;  
}  

.link {  
    color: #e74c3c;  
    text-decoration: none;  
}