<!DOCTYPE html>  
<html lang="es">  
<head>  
    {% load static %}
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Registro - AutoMaster Pro</title>  
    <link rel="stylesheet" href="{% static 'css/login/Login.css'%}">  
</head>  
<body>  
    <div class="main-container">  
        <div class="logo-container">  
            <h1>BIENVENIDO</h1>  
            <img src="" alt="">
        </div>  
        <div class="form-container">  
            <h2> INGRESA TUS DATOS  </h2>  
            <input type="text" placeholder="Nombre Completo" required> 
            <input type="password" placeholder="Contraseña" required>  
            <button class="btn">REGISTRAR</button>  
            <p>¿Ovidastetu Contraceña? <a href="#" class="link">RECUPERAR</a></p>  
        </div>  
    </div>  
</body>  
</html>