<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clientecss/clientestyle.css' %}">
    <title>Clientes</title>
</head>
<body >
    
    <div class="sidebar">
        <button id="toggle-menu-btn" type="submit" class="button" > ☰  </button>
        <H3>   AutoMasterPro</H3>
    </div>
    <div id="list"  class="menu">
       <button id="close" type="submit"> <a  class="closebtn" onclick="closeMenu()">&times;</a></button>
        <ul>             
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="item"  type="submit">Inicio</button>
            </form>
       
         <form method="post" action="{% url '' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="item"  type="submit">Clientes</button>
        </form>
              
        
         <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="item"  type="submit">mecanico</button>
        </form>
        
         <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="item"  type="submit">vehiculo</button>
        </form>
        </ul>
 
    </div>

    <div class="container">       

      <div id="form"   class="hidden">
         <h2> Ingreso de Clientes</h2>
            <form>
                <div class="nombre">
                    <label for="name">Nombres :</label>
                    <input type="text" id="name" name="nombre" required>
                </div>
                <div class="apellido">
                    <label for="name">Apellidos :</label>
                    <input type="text" id="name" name="nombre" required>
                </div>
                <div class="email">
                    <label for="email">Direccion : </label>
                    <input type="email" id="email" name="email" required placeholder="usuario@AutoMasterPro.com">
                </div>
                <div class="telefono">
                    <label for="Phone" >Telefono :</label>
                    <input type="tel" id="Phone" name="Phone" required>
           
                </div>     
            </form>
            <div class="botones">
                <button class="send" type="submit" id="guardar"> Guardar</button>
                <button class="cancel" type="submit" id="cancelforbtn"> Cancelar</button>
            </div>
             
       </div>  
       
    </div>
     
    <script src="{%static 'js/clientes/clientes.js' %}"></script>

</body>
</html>